/* General Reset */
html {
  background-color: #eaf0e4; /* Light green background */
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #2a4d34; /* Dark green text color */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header styles */
header {
  background: #2f5d43; /* Dark green background */
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  padding: 0;
  margin: 0;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #7d8b5f; /* Muted green for hover effect */
}

nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

/* Main styles */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* Editor Container */
.editor-container {
  flex: 1;
  margin-right: 1rem;
  background: #fff;
  min-width: 40%;
  padding: 1rem;
  padding-right: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Textarea styling */
#markdownInput {
  width: 100%;
  height: 300px;
  padding: 0.5rem;
  border: 1px solid #a6c6b7; /* Light green border */
  border-radius: 4px;
  resize: none;
}

/* Character count and button styles */
#characterCount {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #3e8e41; /* Green background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2e6a33; /* Darker green on hover */
}

/* Preview Container */
.preview-container {
  flex: 1;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

#preview {
  /* border: 1px solid #ccc; */
}

.preview-container #preview-title {
  margin-top: 0; /* Removes default margin above the heading */
  background-color: #3e8e41; /* Green background for title */
  color: white;
  text-align: center;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}

.about-container h2 {
  text-align: center;
  color: #3e8e41; /* Green text for the heading */
}

.about-container ul {
  list-style-type: square;
  padding-left: 20px;
}

.about-container p, .about-container li {
  font-size: 1.1em;
}

.about-container a {
  color: #4d8b62; /* Soft green for links */
}

.about-container a:hover {
  color: #7d8b5f; /* Muted green on hover */
}

footer {
  text-align: center;
  margin-top: 40px;
}

/* Footer styles */
footer {
  background: #2f5d43; /* Dark green background */
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

footer a {
  color: #4d8b62; /* Soft green for footer links */
}

/* Responsive Design */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .editor-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .preview-container {
    margin-top: 1rem;
  }
}

@media print {
  header, footer, .editor-container, #preview-title {
    display: none;
  }

  .preview-container {
    box-shadow: none;
  }

  #preview {
    border: 0;
  }

  #sheet {
    border: 0;
  }

  @page {
    size: auto;
    margin: 0;
  }
}
